*.apk
*.aar
*.ap_
*.aab
*.dex
*.log
*.iml
*.hprof
*.bak

.externalNativeBuild
.cxx/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.navigation/
.gradle/

bin/
gen/
out/
build/
progruard/
captures/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

local.properties
vcs.xml